.body {
  align-content: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.welcome_banner {
  height: 33%;
  width: 40%;
  padding: 0px;
  margin: 0px;
  margin-top: 2%;
  border-radius: 40px;
}

@media (max-width: 600px) {
  .border-body {
    margin-top: 13rem;
    padding: 5%;
  }

  .welcome_banner {
    margin-bottom: 9%;
  }


  .container.landing {
    margin-top: 60px;
  }

  .col-6.landing {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 16%;
    height: auto;
  }

  .col-6.landing-img {
    text-align: center;
    width: 100%;
    display: block;
  }

  .img-fluid.landing {
    max-width: 356px;
    max-height: 256px;
    border-radius: 4%;
  }

  .whiteColor.maxwidth {
    text-align: center;
    width: 100%;
  }
  .col-6.landing-img.left {
    margin-top: 20px;
  }

  .btn.btn-primary.top {
    margin-top: 20px;
  }
}

@media (min-width: 601px) and (max-width: 2000px) {
  .border-body {
    margin-top: 8%;
    padding: 5px;
  }

  .welcome_banner {
    margin-bottom: 5%;
  }

  .col-6.landing {
    margin: 0px;
    padding: 15%;
  }

  .col-6.landing-img {
    display: block;
    margin-top: 10%;
  }


  .img-fluid.landing {
    /* padding: 25%; */
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 729px;
    max-height: 494px;
    border-radius: 4%;
  }

  .btn.btn-primary.top {
    margin-top: 40px;
  }


}

#root {
  padding: 0px;
}

body {
  background-color: #1a1918;
}

.container.app {
  background-color: #1a1918;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: #1a1918;
  margin: 0px;
  padding: 0px;
  max-width: -webkit-fill-available;

}


.landing_page {
  color: #fff;
}

.border-body {
  border: 1px solid #fff;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 25px;

}

.login_banner {
  border-radius: 25px;
  height: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.form.mb-3 {
  padding-left: 10%;
  padding-right: 10%;
  text-align: start;
}

.form-control {
  background-color: transparent;
  border-radius: 0px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  color: #fff;
}

.form-control::after {
  background-color: transparent;
}

.form-control::placeholder {
  color: #fff;
  background-color: transparent;
}

.form-control::-moz-focus-inner {
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  color: #fff;
}

.form-control:active {
  background-color: transparent;
}

.form-control:not(:placeholder-shown) {
  background-color: transparent;
}

.form-control:-webkit-autofill {
  background-color: transparent;
}

.form-label {
  color: #fff;
}

.whiteColor {
  color: #fff;
  text-decoration: none;
}

.topSpacing {
  margin-top: 2%;
}

.btn.btn-primary {
  margin-bottom: 2%;
}

.loginHeaderText {
  margin-left: 4px;
}

.folderColor {
  color: #5f9dff;
}

.backgroudBlack {
  background-color: #000;
  padding: 2%;
  max-width: fit-content;
  max-height: fit-content;
}

.background {
  background-color: #1a1918;
  padding: 0px;
  margin: 0px;
}

.navbar {
  padding: 0px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 88%, 0.922);

}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.nav-item {
  margin: 1%;
  margin-left: 22px;
  padding: 1%;
}

.navbar-toggler {
  margin: 1%;
  padding: 1%;
}

.backgroudWhite {
  stroke: white;
  height: 36px;
  width: 36px;
  padding: 1px;
  margin-right: 5px;
}


.marginTop {
  margin-top: 6%;
}

.btn.whiteColor:hover {
  color: #fff;
  background-color: #5f9dff;
}

hr {
  border: 1px solid #dadce0;
  border-width: 1px 0 0;
  margin-top: 40px;
  margin-bottom: 20px;

}

.col-6.landing-img.left {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.padding {
  padding: 5%;
}
